#itemImage {
	height: 200px;
	width: 200px;
}

.display {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color:rgb(148, 148, 148);
}

table {
	margin-left: 5%;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	border-spacing: 0px;
}

#productName {
	text-align: left;
	font-weight: bold;
}

#productPrice {
	text-align: right;
}

.displayCategory ul li {
	font-size: auto;
}
