#logo {
	height: 50px;
	width: auto;
	float: left;
	margin-left: 10px;
}

#title {
	background-color: rgb(48, 48, 48);
	display: inline-block;
	width: 100%;
	text-decoration: none;
	padding: 10px 0px 10px 0px;
}

.dropbtn {
	background-color: rgb(155, 85, 0);
	color: rgb(48, 48, 48);
	padding: 2px;
	font-size: 15px;
	height: 50px;
	width: 150px;
	border: none;
}

.dropdown {
	position: relative;
	float: right;
}

.dropdown-content  {
	display: none;
	position: absolute;
	background-color: rgb(155, 85, 0);
	min-width: 200px;
}

.dropdown-content a {
	font-size: 14px;
	color: rgb(48, 48, 48);
	padding: 10px 10px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: rgb(148, 148, 148)}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: rgb(148, 148, 148);
}

#signInButton {
	color: rgb(148, 148, 148);
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}

#signInButton a{
	color: rgb(155, 85, 0);
	float: right;
	text-decoration: none;
}

#kart {
	color: rgb(155, 85, 0);
	float: right;
	margin-right: 10px;
}

#kart a{
	color: rgb(155, 85, 0);
	float: right;
	text-decoration: none;
}

#cartIcon {
	height: 50px;
	width: auto;
	float: left;
}