<html>

<head>
	<title> Login </title>
	<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
	<link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
	<link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
</head>

<body style="font-family:Roboto;">
	<div id="title">
		<a href="/">
			<img id="logo" src={{ url_for('static', filename='images/logo.png') }} />
		</a>

		{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm"></a>
		</div>
		{% else %}
		<div class="dropdown">
			<button class="dropbtn">Hello, <br>{{firstName}}</button>
			<div class="dropdown-content">
				<a href="/account/orders">Your orders</a>
				<a href="/account/profile">Your profile</a>
				<hr>
				<a href="/logout">Sign Out</a>
			</div>
		</div>
		{% endif %}
		<div id="kart">
			<a class="link" href="/cart"></a>
		</div>
	</div>
	<div class="display">
		<p> {{error}} </p>
		<form action="/login" method="POST">
			<p>Email: <input type="text" name="email"></p>
			<p>Password: <input type="password" name="password"></p>
			<p><input type="submit"></p>
			<a style="color: rgb(155, 85, 0); text-decoration: none" href="/registerationForm">Register here</a>
		</form>
	</div>
</body>

</html>